#title{
  background-color: #FC5185;
  color: #fff;
}


.btn{
  height: 80px;
  width: 300px;
  margin-left: 15px;
}
.H1{
  font-family: 'Pacifico', cursive;
}

.container-fluid{
  padding: 3% 15%;

}
.ROW{
   text-align: center;
   align-items: center;
}

.navbar{
  padding-top: 200px;
  padding-bottom: 200px;
  color: #fff;
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

.navbar-nav{
  font-size: 20px;
  position: absolute;
  right:   200px;
  font-family: 'Vollkorn', serif;
  padding-top: 50px;
  padding-bottom: 50px;

}
.navbar-brand{

  font-family: 'Suez One', serif;
  margin-top: 50px;
  margin-left:  100px;
  margin-bottom: 50px;

}


.Download-Button{
  margin-top: 20px;

}
.Iphone{
  margin-top: 40px;
  transform: rotate(25deg);
}

/* feature */
#features{
 padding: 7% 15%;
}
.feature-box{
  text-align: center;
}
.H3{
  font-family: 'Suez One', serif;
  margin-top: 10px;
}
.P1{
  font-family: 'Vollkorn', serif;
  color: #525252;
}
.Atom{
  color: #88304E;
}
.Atom:hover{
  color: #FC5185;
}

/* testimonial */
#testimonials{
  background-color: #FC5185;
  text-align: center;
}
.carousel-item{
  padding: 7% 15%;
}
.dog{
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 100%;
  width: 20%;
}
.H2{
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  line-height: 2;
}
#press{
  background-color: #FC5185;
  text-align:  center;
  padding-bottom: 50px;
}
.pressimg{
  padding-left: 30px;
}

/* pricing */
#pricing{
  text-align: center;
  padding: 100px;
}

.card-align{
  margin-top: 40;px;
  padding: 3% 2%;

}
.card-title{
  font-family: 'Vollkorn', serif;
  font-size: 30px;
  font-weight:bolder;
}
.amount{
  font-family: 'Vollkorn', serif;
  font-size: 20px;
  font-style: italic;
}

.Price-Btn{
  background-color:#88304E ;
  color:#fff;

}
.Price-Btn:hover{
  background-color: #E23E57;
}
.list-group-item{
  font-size: 18px;
}
.pricehead{
  font-family: serif;
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 20px;
}
.pricesub{
  font-family: 'Suez One', serif;
  font-weight: lighter;
}

/* media query */
@media (max-width : 1028px ) {
  .Iphone{
    height: 500px;
    width: 300px;
    transform: rotate(0);
  }
  .H2{
    font-size: 30px
  }
}
@media (max-width : 615px) {
  .card{
    align-items: center;

  }
}
@media (max-width : 1080px) {
  .btn{
    height: 60px;
    width: 160px;

  }
}
/* cta */
#cta{
  background-color: #FC5185;
  padding: 7% 15%;
  text-align: center;
}
.ctaH3{
  font-size: 70px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}
#footer{
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;

}
.Social-media{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}
